# SEME - Search Engine Manipulation Effect

text about SEME 

![image.png](attachment:image.png)

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sn

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

* talk about the authors and their ideas and goals with these experiments

In [13]:
# import codecs
# with codecs.open('bias_alerts_raw.csv', 'r', encoding='utf-8',
#                  errors='ignore') as fdata:

IndentationError: expected an indented block after 'with' statement on line 2 (2146079526.py, line 3)

In [17]:
seme = pd.read_csv('bias_alerts_raw.csv', sep='\t', header=0, encoding='latin1')
seme.head()

,GroupNumber,CandidateOrder,TimeLimit,CandidateOrder1,CandidateOrder2,Age,Education,Religion,Ethnicity,Income,...,Clicks27,Clicks28,Clicks29,Clicks30,NumberOfClicks,AvgSecPerPage,TotalSearchTime,Country,Fluency,ExpName
0,3,2,15,Ed Miliband,David Cameron,29,Bachelors,Islam,Asian,"&pound;20,000 to 30,000 ($30,000 to 45,000)",...,0.0,0.0,0.0,1.0,7.0,7.571429,53.0,India,9.0,Original
1,1,1,15,David Cameron,Ed Miliband,53,Bachelors,Christianity,White,"&pound;70,000 to 100,000 ($100,000 to 150,000)",...,0.0,0.0,0.0,0.0,1.0,57.000000,57.0,United States,10.0,BiasAlert1
2,1,2,15,Ed Miliband,David Cameron,25,Secondary,I prefer not to say,White,"Under &pound;5,000 (Under $7,500)",...,0.0,0.0,0.0,0.0,0.0,28.000000,28.0,United States,10.0,BiasAlert1
3,1,2,15,Ed Miliband,David Cameron,26,Bachelors,None,White,"&pound;30,000 to 40,000 ($45,000 to 60,000)",...,0.0,0.0,0.0,0.0,2.0,38.000000,76.0,United States,10.0,BiasAlert1
4,3,1,15,David Cameron,Ed Miliband,30,Bachelors,Christianity,White,"&pound;40,000 to 50,000 ($60,000 to 75,000)",...,0.0,0.0,0.0,0.0,2.0,28.500000,57.0,United States,10.0,BiasAlert1

# Data Pre-processing
When reading through this large dataset we came across some buggy information. There fore, before analysing we must:
Firstly, clean the data of any time errors, low English fluency subjects and missing data.

and Secondly, create a subset rearranging and renaming the 'Timer' and 'Click' variable columns along with using subjects basic info, and assign subjects to groups. This will make the process of evaluating clicks and search metrics much more fluent. We created new variables to sort subjects into groups for each study using timestamps of subjects.